/*background css*/

html {
    background: url(https://cdn.discordapp.com/attachments/482894390570909706/773571481573130290/Starless.png) no-repeat center center fixed;
    background-size: cover;
}

/*image dropdown css animation*/
.dropdownImage {
    position: fixed;
    opacity: 0;
    top: -100%;
    animation-name: example;
    animation-duration: 20s;
}


@keyframes example {
    0% {
        opacity: 1;
    }
    10% {
        top: -20%;
    }
    99% {
        top: 120%;
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 120%;
    }
}
