html {
    background: url(https://cdn.discordapp.com/attachments/482894390570909706/773571481573130290/Starless.png) no-repeat center center fixed;
    background-size: cover;
}

img {
    position: fixed;
    top: -50%;
    animation-name: example;
    animation-duration: 20s;
}


@keyframes example {
    99% {
        display:block;
    }
    100% {
        top: 120%;
        display: none;
    }
}